section.content {
  position: relative;
}
.hero {
  position: absolute;
  top: calc(-7rem - 49px);
  left: 0;
  right: 0;
  bottom: 0;

  background-image: url("/assets/images/backgrounds/amazing-astronomy-background-bright-544268.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
  background-attachment: fixed;
}
