/*
 * https://coolors.co/fce1f9-3a405a-aec5eb-e9afa3-43332c
 */

body {
    background-color: #0d040c;
    position: relative;
    min-height: 100%;
}

header {
    position: relative;
    padding: 2em 0 2em 1em;
    background-color: rgba(0, 0, 0, 0.1);
    color: #aec5eb;

    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);

    border-bottom: 1px solid rgba(156, 146, 163, 0.5);
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.3);
}

header > h1 {
    font-size: 3em;
    font-family: "WindyRainDemo", cursive;
    font-style: italic;
    display: inline-block;
}

.navigation {
    color: #ededf0;
    font-family: sans-serif;
    margin-top: 32px;
    float: right;
}

.navigation > menu > li {
    list-style-type: none;
    display: inline-block;
    margin-right: 8px;
}

.navigation > menu > li:last-of-type {
    margin-right: 1em;
}

.navigation > menu > li > a {
    color: inherit;
    text-decoration: none;
}

.navigation > menu > li:hover {
    color: #adadaf;
}

section.content {
    min-height: calc(100vh - 10em - 48px - 1px);
}

footer {
    color: #b7beb8;
    height: 3em;
    background-color: #20242b;
}

.copyright-notice {
    line-height: 3em;
    font-family: sans-serif;
    margin-left: 16px;
    display: inline-block;
}

aside.right {
    position: absolute;
    right: 1em;
    top: 8em;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, 0.5);

    background-color: rgba(152, 193, 217, 0.35);
    color: #fdfdfd;
}

aside.right i {
    color: #fdfdfd !important;
}

.contact-information > li {
    margin-bottom: 8px;
}

.contact-information > li:last-child {
    margin-bottom: 0;
}

.text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
